
h1{
text-decoration:red line-through;
text-align: center;
font-weight: normal;
color: teal;
background-color:rgb(255,255,255);
font-family: consolas, fantasy;
}

h2{
text-decoration:wavy blue overline;
color: orange;
}

p{
text-decoration:dotted black underline;
font-weight: bold;
color: white;
background-color: #ffaa00;
}

button{
color: white;
background-color:#0088ff;
}

h3{
font-family: League spartan;
color: #ffa511;
text-align: center;
font-size: 55px;
font-weight: 900;
letter-spacing: 2px;
line-hight: 1.5;
text-decoration: teal double underline;
text-transform: uppercase;
}